<ion-content has-bouncing="true">
    <div class="list card" ng-repeat="complaint in complaints" ng-controller="ComplaintCardCtrl" ng-hide="isHidden(complaint)">

        <div class="item item-avatar item-icon-right">
            <img img-cache ic-src="{{complaint.avatar}}" ng-click="">
            <h2 style="white-space: initial;">🚩 {{complaint.Location}}</h2>
            <p>{{complaint.PublishedDate}}</p>
            <a class="hideme2" ng-href="#/tab/topics/complaints/{{complaint.ComplaintId}}"><i class="icon ion-chevron-right icon-accessory"></i></a>
        </div>

        <div class="item item-body">
            <p>标签：
            <a href="#" class="subdued" ng-repeat="tag in complaint.tags">{{tag}}</a>
            <span style="float: right" ng-switch on="complaint.status">
                <span ng-switch-when="done" style="color: green">已处理</span>
                <span ng-switch-when="processing" style="color: green">处理中</span>
                <span ng-switch-when="accepted" style="color: green">已审核</span>
                <span ng-switch-when="rejected" style="color: red">未通过审核</span>
                <span ng-switch-default style="color: blue">待审核</span>
            </span>
            </p>
            <p>{{complaint.Text}}</p>
            <div ng-repeat="photo in complaint.photos" ng-if="complaints.length == 1 || $index == 0">
                <!-- show all photos only in detail view -->
                <img img-cache class="full-image" ic-src="{{srvUrl() + photo}}">
            </div>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-click="toggleFollow()">
                <i class="icon ion-eye"></i>
                {{isFollowed}}+{{complaint.follows.length}}
            </a>
            <a class="tab-item" ng-click="toggleLike()">
                <i class="icon" ng-class="complaint.likeIcon"></i>
                赞 +{{complaint.likes.length}}
            </a>
            <!--
            <a class="tab-item" ng-click="viewComments()">
                <i class="icon ion-chatbox"></i>
                {{complaint.comments.length}} 个评论
            </a>
            -->
            <a class="tab-item" ng-click="showAction()">
                <i class="icon ion-share"></i>
                分享
            </a>
        </div>
        <!-- <ion-list ng-show="showComments">
            <ion-item class="item-input">
                <input type="text" ng-model="complaint.newCommentText" placeholder="添加评论">
                <button class="button button-clear" ng-click="addComment()">
                    发送
                </button>
            </ion-item>
            <ion-item class="item item-avatar" ng-repeat="comment in complaint.comments">
                <img src="{{comment.icon}}">
                <h2>{{comment.user}}</h2>
                <p style="white-space: initial;">{{comment.text}}</p>
                <p style="text-align:right">{{comment.date}}</p>
            </ion-item>
        </ion-list> -->

    </div>
</ion-content>
