<ion-view view-title="晴空社区">
    <ion-content style="margin-bottom: auto;background-color: rgb(239,239,244)">

        <div>
            <ion-slide-box on-slide-changed="slideChanged(index)" does-continue="true" show-pager="true">
                <ion-slide>
                    <div img-cache ic-bg="{{srvUrl() + topics[0].ImgPath}}" style="height: 200px; width: 100%; background: no-repeat; background-size: 100% 100%;">
                        <div style="color: #ffffff; padding-top: 110px;padding-left: 10px;">
                            <span>{{topics[0].PublishedTime}}</span>
                            <br>
                            <div style="padding-top: 10px">
                                <span style="font-size: 18px; font-weight: 600">{{topics[0].Title}}</span>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div img-cache ic-bg="{{srvUrl() + topics[1].ImgPath}}" style="height: 200px; width: 100%; background: no-repeat; background-size: 100% 100%;">
                        <div style="color: #ffffff; padding-top: 110px;padding-left: 10px;">
                            <span>{{topics[1].PublishedTime}}</span>
                            <br>
                            <div style="padding-top: 10px">
                                <span style="font-size: 18px; font-weight: 600">{{topics[1].Title}}</span>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div img-cache ic-bg="{{srvUrl() + topics[2].ImgPath}}" style="height: 200px; width: 100%; background: no-repeat; background-size: 100% 100%;">
                        <div style="color: #ffffff; padding-top: 110px;padding-left: 10px;">
                            <span>{{topics[2].PublishedTime}}</span>
                            <br>
                            <div style="padding-top: 10px">
                                <span style="font-size: 18px; font-weight: 600">{{topics[2].Title}}</span>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="搜索感兴趣的内容" ng-model="search.Text">
                <i class="icon ion-ios-mic placeholder-icon"></i>
            </label>
        </div>

        <div ng-repeat="topic in rtopics" ng-if="doSearch(topic)" class="list card" style="margin-left: 0px; margin-right: 0px; margin-top: 0px;">
            <div class="item item-avatar" style="padding-top: 10px; padding-bottom: 10px">
                <img src="img/community-user1.jpg">
                <span style="font-size: x-small; float: right; color: #aaaaaa">2小时前</span>

                <h2>{{topic.Author}}</h2>
                <span style="font-size: smaller">{{topic.PublishedTime}}</span>
                <img src="">
            </div>
            <div class="item item-body myimg">
                <img img-cache ic-src="{{srvUrl() + topic.ImgPath}}" style="width:100%">

                <div class="list" style="border-style: solid; border-width: thin; border-color: rgb(230,230,230);padding-top: 0px;">
                    <a class="item item-icon-left item-icon-right item-title" href="#">
                        <i class="icon" style="font-size: larger">
                            <span class="icon-color-biomass">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span>
                            </span>
                        </i>
                        <span class="left-title">{{lb_topic + topic.Title}}</span>
                        <span class="right-number">24人</span>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </a>
                </div>
                <p style="padding-left: 15px; padding-bottom: 15px;text-indent: 2em">
                {{topic.Text}}
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-heart-outline"></i>
                    喜欢&nbsp&nbsp&nbsp17人
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-chatboxes-outline"></i>
                    评论&nbsp&nbsp&nbsp3人
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-upload-outline"></i>
                    分享
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-star-outline"></i>
                    收藏
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
