<style>.tabs {display: none;}</style>
<ion-view view-title="新闻详情">
  <ion-content class="padding">
    <h3 style="text-align: center"><strong>{{New.Title}}</strong></h3>
    <p class="news-info">{{lb_source + New.PublishedDate}}</p>
    <img img-cache ic-src="{{srvUrl() + New.ImgPath}}" width="100%">
    <div ng-switch on="New.Text[0].length">
        <p class="news" ng-switch-when="1">{{New.Text}}</p>
        <p class="news" ng-switch-default ng-repeat="paragraph in New.Text">{{paragraph}}</p>
    </div>
    <p class="float-right">{{lb_author + New.UserName}}</p>
  </ion-content>
  <img src="img/news-tab.png" width="100%" class="details-img">
</ion-view>

