<ion-view view-title="搜索">
    <ion-nav-buttons side="right">
        <a href="#/tab/topics/map" class="button button-icon ion-map"></a>
    </ion-nav-buttons>
    <ion-content>

        <div id="tabs0">
            <ul class="menu0" id="menu0">
                <div class="button-bar">
                    <button id="active" class="button-dark hover" style="width:{{width/2}}px;float: left" onclick="setTab(0,0)">全部投诉</button>
                    <button class="button-dark" style="width:{{width/2}}px;"  onclick="setTab(0,1)" >违章公司</button>
                </div>
            </ul>
        </div>

        <div class="main" id="main0">

            <div class="list">
                <ul class="block">

                    <div id="1" class="bar bar-header item-input-inset">
                        <label class="item-input-wrapper">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="search" placeholder="投诉搜索..." ng-model="filter">
                        </label>
                    </div>

                    <div ng-repeat="complain in items | filter:filter">
                        <a class="item my-item item-thumbnail-left item-icon-right" href="#/tab/topics/complaints/{{complain.ComplaintId}}">

                            <img  ng-repeat="photo in complain.photos" ng-if="$index == 0"  class="img-thumbnail" ng-src="{{photo}}"
                                 src="{{srvUrl() + photo}}">

                            <h3 class="bb">{{complain.Text}}</h3>

                            <p class="ng-binding" style="word-break:break-all;font-size: 12px">用户：{{complain.UserName}}</p>

                            <p style="font-size: 12px">标签：
                                <label  style="font-size: 12px" ng-repeat="tag in complain.tags">{{tag}}  </label>
                            </p>

                            <p class="ng-binding" style="word-break:break-all;font-size: 12px">
                                地点：
                                <label style="font-size: 12px">{{complain.Location}}</label>
                            </p>

                            <p class="ng-binding" style="word-break:break-all;font-size: 12px">日期：{{complain.PublishedDate}}</p>

                            <lable class="ng-binding float-like">
                                {{complain.follow}}
                                <img src="img/like.png">
                            </lable>

                            <i class="icon ion-chevron-right icon-accessory"></i>

                        </a>
                    </div>
                </ul>

                <ul>

                    <div id="2" class="bar bar-header item-input-inset">
                        <label class="item-input-wrapper">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="search" placeholder="公司搜索..." ng-model="filter">
                        </label>
                    </div>

                    <div ng-repeat="company in companies | filter:filter" ng-if="$index<=20">
                        <li class="item my-item item-thumbnail-left  item-icon-right">

                            <img class="img-thumbnail" ng-src="{{company.imgPath}}" src="{{company.imgPath}}">

                            <h2 class="ng-binding" style="font-weight:bold">{{company.name}}</h2>

                            <p class="ng-binding" style="word-break:break-all;font-size: 12px">
                                地区：{{company.location}}</p>

                            <p class="ng-binding" style="word-break:break-all">简介：{{company.in}}</p>

                            <i class="icon ion-chevron-right icon-accessory"></i>

                        </li>
                    </div>
                </ul>

            </div>

        </div>

        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>

<script>
    function setTab(m, n) {
        var tli = document.getElementById("menu" + m).getElementsByTagName("button");
        var mli = document.getElementById("main" + m).getElementsByTagName("ul");
        for (i = 0; i < tli.length; i++) {
            tli[i].className = i == n ? "button-dark hover" : "button-dark";
            mli[i].style.display = i == n ? "block" : "none";
        }
    }
</script>
